# Visible to end user
PRODUCT="bucknell.wtf"
# Some little snippet for the site globally
TAGLINE="the true voice of bucknell (maybe? i'm no scientist)"
# the code automatically uses your system's timezone, this is just appended to the output of that
TZ_STRING="UTC"

# Colors
BG_2="#002700"
BG_3="#005800"
LK_1="#00FF00"
LK_2="#00c200"
AC_1="#00FF00"